extends base/layout_completo.pug
include base/mixins.pug

block vars
	- var title = 'Notas fiscais'

block content

	.container
		+fab()
		+topoLista('19–25 de Abril, 2018')

		.heading(style='margin-top:15px')
			span Hoje
			span.serie-numero NF
		+cardGrid()
			+linhaAberto('Venda', 'R$ 72,60')
			+linhaCritica('Núcleo Indústria Têxtil Ltda', 'Venda', 'R$ 298,00')
			+linhaAutorizado('Fernanda Roberta da Silva ME', 'Venda', 'R$ 31,20', '1189')

		+cardGridHeading('23 de abril')
		+cardGrid()
			+linhaAutorizado('Dalquim Ind. e Com. Ltda', 'Remessa', 'R$ 628,10', '1188')
			+linhaAutorizado('JBS S.A.', 'Venda', 'R$ 2.336,50', '1187')
			+linhaAutorizado('JBS S.A.', 'Venda', 'R$ 1.234,84', '1186')
			+linhaAutorizado('JBS S.A.', 'Venda', 'R$ 1.340,00', '1185')
			+linhaAutorizado('JBS S.A.', 'Venda', 'R$ 2.780,00', '1184')
			+linhaAutorizado('JBS S.A.', 'Venda', 'R$ 4.235,00', '1183')

		+cardGridHeading('19 de abril')
		+cardGrid()
			+linhaAutorizado('Dalquim Ind. e Com. Ltda', 'Remessa', 'R$ 517,50', '1182')
			+linhaAutorizado('Fernanda Roberta da Silva ME', 'Venda', 'R$ 43,80', '1181')
			+linhaAutorizado('Fernanda Roberta da Silva ME', 'Venda', 'R$ 41,80', '1180')
			+linhaAutorizado('Fernanda Roberta da Silva ME', 'Venda', 'R$ 54,00', '1179')
			+linhaAutorizado('Fernanda Roberta da Silva ME', 'Venda', 'R$ 78,00', '1178')
			+linhaAutorizado('Fernanda Roberta da Silva ME', 'Venda', 'R$ 21,11', '1177')
			+linhaAutorizado('JBS S.A.', 'Venda', 'R$ 2.780,00', '1176')
			+linhaAutorizado('JBS S.A.', 'Venda', 'R$ 2.780,00', '1175')
			+linhaAutorizado('Núcleo Indústria Têxtil Ltda', 'Venda', 'R$ 13,00', '1174')

	#detalhes.sidenav(style='width: 600px;')
		h5
			| Núcleo Indústria Têxtil Ltda
			.chip.numero NF 1174

		.section
			.row
				.col.s6
					label CNPJ
					div 03.265.874/0001-69 
				.col.s6
					label Natureza da operação
					div Venda

		.section
			table
				thead
					tr
						th Produto
						th.right-align Valor (R$)
				tbody
					tr
						td
							| Caneta esferográfica 
							label.grey-text (1 UN x 5,50)
						td.right-align 5,50
					tr
						td
							| Lápis 
							label.grey-text (5 UN x 1,50)
						td.right-align 7,50
				tfoot
					tr
						td(colspan='2')
							h5.right-align
								small 13,00

		.acoes-detalhes
			.row(style='margin-bottom:1rem;').hide
				.col.s4
					a.btn-block.btn-flat.blue.lighten-5.blue-text Emitir
				.col.s4
					a.btn-block.btn-flat.blue.lighten-5.blue-text Reprocessar
				.col.s4
					a.btn-block.btn-flat.blue.lighten-5.blue-text Cancelar
			.row
				.col.s4
					a.btn-block.btn-flat.blue.lighten-5.blue-text Devolver
				.col.s4
					a.btn-block.btn-flat.blue.lighten-5.blue-text Retornar
				.col.s4
					a.btn-block.btn-flat.blue.lighten-5.blue-text Ver financeiro

mixin linhaAberto(tipo, valor)
	tr.sidenav-trigger(href='#', data-target='detalhes')
		+colunaCheckbox()
		+colunaAberto()
		td.grey-text Cliente não informado
		td.col-tipo
			label.tipo= tipo
		td.col-valor= valor
		td.col-numero
		+colunaAcoes()

mixin linhaCritica(cliente, tipo, valor)
	tr.sidenav-trigger(href='#', data-target='detalhes')
		+colunaCheckbox()
		+colunaCritica()
		td= cliente
		td.col-tipo
			label.tipo= tipo
		td.col-valor= valor
		td.col-numero
		+colunaAcoes()

mixin linhaAutorizado(cliente, tipo, valor, numero)
	tr.sidenav-trigger(href='#', data-target='detalhes')
		+colunaCheckbox()
		+colunaAutorizado()
		td= cliente
		td.col-tipo
			label.tipo= tipo
		td.col-valor= valor
		td.col-numero= numero
		+colunaDownload()

